#chat-ended-nav{
    padding: 4px 6px 0px 6px;
}

#chat-ended-nav #wrapper{
    position: relative;
    height: 56px;
    background-color: #666666;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#chat-ended-nav #wrapper:hover{
    background-color: #4A4A4A;
    cursor: pointer;
}

#chat-ended-nav #wrapper #first-row,
#chat-ended-nav #wrapper #second-row{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
}

#chat-ended-nav #wrapper #first-row div,
#chat-ended-nav #wrapper #second-row div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
}

#chat-ended-nav #wrapper #second-row{
    margin-top: 2px;
}


#chat-ended-nav #wrapper #first-row > div:last-child p{
    margin-right: 10px;
}


#chat-ended-nav #wrapper #first-row div p,
#chat-ended-nav #wrapper #second-row div p{
    color: white;
    padding: 5px 0px 0px 5px;
    font-size: 14px;

}

#chat-ended-nav #wrapper #first-row > p:last-child{
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-right: 10px;
}

/* ----------------------------------CONTENT */

#chat-ended-content-label{
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(117, 117, 117);
    height: 46px;
    padding: 14px;
}
#chat-ended-content-status{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 46px;
    padding: 14px;
}

#chat-ended-content-message,
#chat-ended-content-system{
    margin-left: 5%;
}

#chat-ended-content-message{
    width: 90%;
    padding: 14px 0px 14px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#chat-ended-content-message > div:first-child{
    width: 95%;
    border: 1px solid rgb(143, 143, 143);
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    padding: 14px;
    height: fit-content;

}

#chat-ended-content-message > div:last-child{
    height: 48px;
    padding: 14px;
    font-size: 11px;
    color: rgb(102, 102, 102);
}

/* --------------------------------BUTTON */

#chat-ended-btn{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 132px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgb(102, 102, 102);
    padding: 10px;
}

#chat-ended-btn
#chat-ended-close {
    width: 260px;
    height: 36px;
    border: none;
    color: white;
    font-weight: 600px;
    font-size: 0.875rem;
    cursor: pointer;
    font-weight: 600;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 115, 152);
    margin: 10px 0px 10px 0px;

}
#chat-ended-btn
#chat-ended-task{
    width: 260px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.74);
    margin: 10px 0px 10px 0px;
}

#chat-ended-btn button svg{
    margin-right: 12px;
}

