#feature-btn{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.49);
}

#feature-btn button{
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
}


#feature-btn button svg{
    margin-right: 12px;
}


#feature-btn #change-feature{
    width: 260px;
    height: 36px;
    border: 1px solid rgba(0,0,0,0.5);
    margin: 14px 10px 14px 10px;
}

#feature-btn #call-btn{
    width: 106px;
    height: 36px;
    border: none;
    background-color: rgb(7, 115, 152);
    color: white;
    margin-right: 10px;
}

#contact > div:first-child{
    height: 46px;
    display: flex;
    align-items: center;
    padding-left: 14px;
}